.btn {
  cursor: pointer;
  background: transparent;
  border: none;
  text-decoration: none;
  font-size: 1.2rem;
  border: solid 2px#fff;
  padding: 0.5rem 1rem;
  margin: 1rem;
  display: inline-block;
  font-weight: bold;
  opacity: 0.7;
  transition: all 0.2s;
}

.btn:hover {
  opacity: 1;
  background-color: hsla(0, 0%, 97%, 0.5);
}

.btn .icon {
  color: #fff;
  margin-right: 1rem;
}

.btn .icon,
.btn span {
  transition: color 0.2s;
}

.btn:hover > .icon,
.btn:hover > span {
  color: #d30956;
}
