.skill {
  margin-bottom: 5rem;
  padding: 2rem;
}

.skill-title-box {
  flex: 1;
  align-items: center;
}

.skill-title-bg {
  background-image: linear-gradient(to right, #343a40, #ffffff, #343a40);
  padding: 0.5rem;
  width: 100%;
}

.skill-title {
  width: 100%;
  font-size: 4rem;
  text-align: center;
}

.skill-img {
  padding: 1rem;
  height: 12rem;
  margin: 2rem;
}

.skill-info {
  padding: 0 20%;
}
