* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #fff;
}

body {
  background-image: url("/img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: change 70s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 70%;
  }
  50% {
    background-position: 100% 70%;
  }
  100% {
    background-position: 0 70%;
  }
}

/* ### FONT STYLE / BORDER-RADIUS ### */
.ff-1 {
  font-family: "Zen Dots", cursive;
}

/* .ff-2 {
} */

.text-shadow {
  text-shadow: 2px 2px 1px #000;
}

.border-radius-sm {
  border-radius: 8px;
  overflow: hidden;
}

.border-deeppink {
  border: solid 2px #d30956;
}

.box-shadow-deeppink {
  box-shadow: 0 0 15px #d30956;
}
/* ### FONT STYLE / BORDER-RADIUS ### */

/* ### HEADER / FOOTER ### */
header,
footer {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  font-weight: 900;
}

.nav,
.footer-links {
  display: flex;
  justify-content: center;
}

.nav-item {
  list-style: none;
  margin: 0 0.5rem;
}

.nav-link {
  text-decoration: none;
  padding: 0.5rem;
  margin: 0 0.5rem;
  transition: color 0.2s;
  color: #fff;
}

.nav-item:hover > .nav-link {
  color: #d30956;
  border-bottom: solid 2px #fff;
}
/* ### HEADER / FOOTER ### */

/* ### PROFILE ### */
.profile {
  display: flex;
  height: 100vh;
}

.profile-photo {
  height: 14rem;
  width: 14rem;
  border-radius: 50%;
  border: solid 4px #fff;
  transition: all 2s;
}

.profile-photo:hover {
  border: solid 4px #d30956;
  transform: scale(1.1);
  border-radius: 10%;
}

.profile-name {
  margin-top: 2rem;
  margin-bottom: 0.1rem;
}

.web-developer {
  font-weight: lighter;
}

.profile-hi {
  margin-bottom: 1rem;
}
/* ### PROFILE ### */

/* ### DETAIL ### */
.details {
  margin-top: 3rem;
}

.details-text {
  font-style: italic;
  font-weight: 100;
}

.detail {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin: 1rem 0;
  padding: 0.5rem;
  border-bottom: solid 1px #fff;
  transition: all 0.2s;
}

.detail:hover {
  border-bottom: solid 1px #d30956;
  background-color: hsla(0, 0%, 100%, 0.3);
}

.detail:hover > .icon {
  margin-right: 2rem;
  color: #d30956;
}

.detail .icon {
  margin-right: 1rem;
  transition: all 0.4s;
}

.hidden-text {
  opacity: 0;
  margin-left: 0.7rem;
  transition: opacity 0.3s;
}

.detail:hover > .hidden-text {
  opacity: 1;
}
/* ### DETAIL ### */

/* ### BUTTON ### */
.btn {
  cursor: pointer;
  background: transparent;
  border: none;
  text-decoration: none;
  font-size: 1.2rem;
  border: solid 2px#fff;
  padding: 0.5rem 1rem;
  margin: 1rem;
  display: inline-block;
  font-weight: bold;
  opacity: 0.7;
  transition: all 0.2s;
}

.btn:hover {
  opacity: 1;
  background-color: hsla(0, 0%, 97%, 0.5);
}

.btn .icon {
  color: #fff;
  margin-right: 1rem;
}

.btn .icon,
.btn span {
  transition: color 0.2s;
}

.btn:hover > .icon,
.btn:hover > span {
  color: #d30956;
}
/* ### BUTTON ### */

/* ### ICONS ### */
.icon-link {
  margin: 1rem;
}

.icon-link .icon {
  font-size: 2rem;
  transition: color 0.2s;
}

.icon-link .icon:hover {
  color: #d30956;
}
/* ### ICONS ### */

/* ### NOT FOUND ### */
.not-found {
  height: 100vh;
  padding: 10rem 0;
}

.not-found-box {
  max-width: 50rem;
  background-color: rgba(255, 255, 255, 0.205);
  padding: 1rem;
  margin: 0 auto;
  text-align: center;
}

.not-found404 {
  font-size: 10rem;
  font-family: "Monoton", cursive;
  font-weight: 100;
  color: #000;
}
/* ### NOT FOUND ### */

/* ### TITLE ### */
.title-box {
  border-bottom: solid 2px transparent;
  padding: 1rem;
  text-align: center;
}

.title {
  width: 50%;
  transition: all 2s;
}

.box-right .title-box {
  margin-bottom: 2rem;
}
/* ### TITLE ### */

/* ### BG / COLORS ### */
.bg-deeppink-transparent {
  background-color: hsla(337, 92%, 43%, 0.5);
}

.bg-dark-transparent {
  background-color: hsla(0, 0%, 0%, 0.5);
}

.bg-white-transparent {
  background-color: hsla(0, 0%, 100%, 0.5);
}

.bg-deepdark {
  background-color: #000;
}

.bg-deeppink {
  background-color: #d30956;
}

.bg-white {
  background-color: #f8f8f8;
}

.bg-dark {
  background-color: #343a40;
}

.color-nodejs {
  color: #68a063;
}

.color-react {
  color: #61dbfb;
}

.color-javascript {
  color: #f0db4f;
}

.color-java {
  color: #5382a1;
}
/* ### BG / COLORS ### */

/* ### CONTAINER ### */
.container {
  max-width: 80rem;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.container:hover > .title-box .title {
  width: 100%;
}

.content {
  padding: 4rem 1rem;
  transition: all 2s;
}

.text {
  font-size: 1.6rem;
}

.d-flex {
  display: flex;
}

.box-left {
  padding: 3rem;
  width: 30rem;
  text-align: center;
  transition: width 1s;
}

.box-left:hover {
  width: 32rem;
}

.box-right {
  flex: 1;
  padding: 3rem;
}
/* ### CONTAINER ### */

/* ### CARD ### */
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 7rem;
}

.card {
  display: grid;
  transition: transform 1s;
}

.card:hover {
  transform: translateY(-3px);
}

.card-header {
  padding: 0.5rem;
}

.card-title {
  font-weight: 100;
  text-align: center;
}

.card-body {
  background-color: #00000099;
  overflow: hidden;
  position: relative;
}

.card-img {
  width: 100%;
  height: 100%;
  transition: all 2s;
}

.card:hover > .card-body .card-img {
  transform: scale(1.15);
  opacity: 0.2;
}

.card-details {
  position: absolute;
  margin-top: 2rem;
  width: 100%;
  opacity: 0;
  text-align: center;
  padding: 0.5rem;
  transition: opacity 0.5s;
}

.card-info {
  margin-bottom: 0.5rem;
}

.card:hover > .card-body .card-details {
  opacity: 1;
}

.card-footer .btn {
  margin: 0.5rem;
}

.card:hover > .card-footer .btn {
  margin-left: 2rem;
}

.card .card-footer .btn .icon {
  display: none;
}

.card:hover > .card-footer .btn .icon {
  display: inline;
}
/* ### CARD ### */

/* ### LOGO ### */
.logo {
  margin-bottom: 2rem;
}
/* ### LOGO ### */

/* ### SKILL ### */
.skill {
  margin-bottom: 5rem;
  padding: 2rem;
}

.skill-title-box {
  flex: 1;
  align-items: center;
}

.skill-title {
  width: 100%;
  font-size: 4rem;
  text-align: center;
}

.skill-img {
  padding: 1rem;
  height: 12rem;
  margin: 2rem;
}

.skill-info {
  padding: 0 20%;
}
/* ### SKILL ### */
